* {
  margin: 0;
  box-sizing: content-box;
  font-size: 18px;
}

header {
  background-image: url('./assets/images/pattern-bg.png');
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 36px;
}

.inputContainer {
  display: flex;
}

.inputContainer__input {
  border-radius: 15px 0 0 15px;
  outline: none;
  border: 0;
  width: 400px;
  height: 50px;
  padding: 0 1rem;
}

.inputContainer__button {
  outline: none;
  width: 50px;
  border: 0;
  background-color: hsl(0, 0%, 17%);
  border-radius: 0 15px 15px 0;
}
